
<!-- <p>Find me in app/views/questions/answer.html.erb</p> -->

<!-- <form action="/answer?query=question" method="post">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="query" placeholder="What time is it?">
  <input type="submit" value="Go on!">
</form> -->

<h2><%= @question %></h2>
<p>-You</p>

<h2><%= @coach_answer %></h2>
<p>-Your coach</p>


<%= link_to "Ask another question", ask_path %>
