<h1>Ask a question!</h1>
<!-- <p>Find me in app/views/questions/ask.html.erb</p> -->

<form action="/answer?query=question" method="get">
  <label for="question">Speak to your coach</label>
  <input type="text" id="question" name="query" placeholder="What time is it?">
  <input type="submit" value="Go on!">
</form>

<!-- GET /restaurants?food_type=something_you_typed
 -->
